@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<h2>Your Cart</h2>
<table class="table">
    <thead>
        <tr>
            <td>Quantity</td>
            <td>Item</td>
            <td>Price</td>
            <td>Subtotal</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart.Lines)
        {
            <tr>
                <td>@item.Qunatity</td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>@((item.Qunatity*item.Product.Price).ToString())</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", item.Product.ProductID)
                        @Html.HiddenFor(x=>x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"> Total:</td>
            <td class="text-left">@Model.Cart.ComputeTotalValue().ToString()</td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>

